**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

# to change depending on the environment.
*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json



.terraformrc
terraform.rc
